{{define "base"}}
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <!-- Required meta tags -->
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />

            <!-- Bootstrap CSS -->
            <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
            crossorigin="anonymous"
            />

            <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/css/datepicker-bs4.min.css"
            />
            <link
            rel="stylesheet"
            type="text/css"
            href="https://unpkg.com/notie/dist/notie.min.css"
            />
            <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
            <meta http-equiv="X-UA-Compatible" content="ie=edge" />
            <title>Lorem ipsum</title>
        </head>
        <body>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                    >
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/about">About</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a
                                    class="nav-link dropdown-toggle"
                                    href="#"
                                    id="navbarDropdown"
                                    role="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                                >
                                    Rooms
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li>
                                        <a class="dropdown-item" href="/general-quarters"
                                            >General's Quarters</a
                                        >
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/major-suite">Major's Suite</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a
                                    class="nav-link"
                                    href="/search-availability"
                                    tabindex="-1"
                                    aria-disabled="true"
                                >
                                    Book Now
                                </a>
                            </li>
                            <li class="nav-item">
                                <a
                                    class="nav-link"
                                    href="/contact"
                                    tabindex="-1"
                                    aria-disabled="true"
                                >
                                    Contact
                                </a>
                            </li>
                            <li class="nav-item">
                                {{if eq .IsAuthenticated 1}}
                                    <li class="nav-item dropdown">
                                        <a
                                            class="nav-link dropdown-toggle"
                                            href="#"
                                            id="navbarDropdown"
                                            role="button"
                                            data-bs-toggle="dropdown"
                                            aria-expanded="false"
                                        >
                                            Admin
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <li>
                                                <a class="dropdown-item" href="/admin/dashboard">
                                                    Dashboard
                                                </a>
                                            </li>
                                            <li>
                                                <a
                                                    class="dropdown-item"
                                                    href="/user/logout"
                                                    aria-disabled="true"
                                                >
                                                    Logout
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                {{else}}
                                    <a
                                        class="nav-link"
                                        href="/user/login"
                                        tabindex="-1"
                                        aria-disabled="true"
                                    >
                                        Login
                                    </a>
                                {{end}}
                            </li>
                        </ul>
                    <!-- <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                        </form> -->
                    </div>
                </div>
            </nav>
            {{block "content" .}}

            {{end}}

            <footer class="row my-footer">
                <div class="col text-center h-100">
                    <strong>Lorem ipsum lhjasdf lhasd ujhs sdjf</strong><br>
                    House No 155 <br>
                    near Singai, hiyshjs<br>
                    india 382340<br>
                    (91) 9173477818<br>
                    <a href="mailto:hi@gamil.com">hi@gmail.com</a>
                </div>
                <div class="col"></div>
                <div class="col text-center">
                    <strong>Your home away <br>from home</strong>
                </div>
            </footer>

            <script
                src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
                integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
                crossorigin="anonymous"
            ></script>
            <script
                src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
                integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
                crossorigin="anonymous"
            ></script>
            <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/js/datepicker-full.min.js"></script>
            <script src="https://unpkg.com/notie"></script>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script src="/static/js/app.js"></script>

            

            <script>
                (function () {
                    "use strict";

                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.querySelectorAll(".needs-validation");

                    // Loop over them and prevent submission
                    Array.prototype.slice.call(forms).forEach(function (form) {
                        form.addEventListener(
                            "submit",
                            function (event) {
                            if (!form.checkValidity()) {
                                event.preventDefault();
                                event.stopPropagation();
                            }

                            form.classList.add("was-validated");
                            },
                            false
                        );
                    });
                })();

                function notify(msg, msgType) {
                    notie.alert({
                    type: msgType,
                    text: msg,
                    });
                }

                function notifyModal(title, text, icon, confirmButtonText) {
                    Swal.fire({
                    title: title,
                    html: text,
                    icon: icon,
                    confirmButtonText: confirmButtonText,
                    });
                }

                function searchPopup(id) {
                    document.getElementById("check-availability-button").addEventListener("click", function () {
                        // notify("this is message", "success");
                        // notifyModal("title", "<em>hello, world</em>", "success", "my text")
                        let html = `<form
                            action="reservation.html"
                            id="check-availability-form"
                            method="GET"
                            novalidate
                            autocomplete="off"
                            class="needs-validation"
                        >
                            <div class="row">
                                <div class="col">
                                    <div class="row" id="reservation-date-modal">
                                        <div class="col">
                                            <input
                                                type="text"
                                                class="form-control"
                                                name="start_date"
                                                id="start_date"
                                                required
                                                disabled
                                                placeholder="Arrival"
                                            />
                                        </div>

                                        <div class="col">
                                            <input
                                                type="text"
                                                class="form-control"
                                                name="end_date"
                                                id="end_date"
                                                required
                                                disabled
                                                placeholder="Departure"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>`;
                        myFunc.custom({ 
                            title: "Choose yours dates", 
                            html: html, 
                            willOpen: () => {
                                const elem = document.getElementById("reservation-date-modal");
                                const rangepicker = new DateRangePicker(elem, {
                                    format: "yyyy-mm-dd",
                                    minDate: new Date(),
                                });
                            },
                            didOpen: () => {
                                document.getElementById("start_date").removeAttribute("disabled");
                                document.getElementById("end_date").removeAttribute("disabled");
                            },
                            callback: function(){
                                console.log("called");
                                let form = document.getElementById("check-availability-form")
                                let formData = new FormData(form)
                                formData.append("csrf_token","{{.CSRFToken}}")
                                formData.append("room_id",id)
                                fetch("/search-availability-json", {
                                    method: "post",
                                    body: formData,
                                    
                                })
                                .then(response => response.json())
                                .then(data => {
                                    if (data.ok) {
                                        console.log(data)
                                        myFunc.custom({
                                            icon:"success",
                                            showConfirmButton:false,
                                            html:`<p>Room is available !</p>`+
                                            `<p><a href=`+`/book-room?id=${data.room_id}&s=${data.start_date}&e=${data.end_date}`+` class="btn btn-primary">Book now!</a></p>`
                                        })
                                    } else {
                                        myFunc.error({
                                            msg:"no rooms are available"
                                        })
                                    }
                                })
                            } 
                        });
                    });
                }

                {{with .Error}}
                    notify(`{{.}}`,"error")
                {{end}}

                {{with .Flash}}
                    notify(`{{.}}`,"success")
                {{end}}

                {{with .Warning}}
                    notify(`{{.}}`,"warning")
                {{end}}

                
            </script>
            {{block "js" .}}
            
            {{end}}
        </body>
    </html>

{{end}}
