{{template "base" .}}
{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>this is home page</h1>
            <h2>this is home page</h2>
            <a href="/about">about page</a>
        </div>
    </div>
</div>
{{end}}