{{template "base" .}}
{{define "content"}}
    <div class="container">
      <div class="row">
        <div class="col">
          <img
            src="/static/images/marjors-suite.png"
            class="img-fluid mx-auto d-block room-image img-thumbnail"
            alt="room Image"
          />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h1 class="text-center">Major's Suite</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum
            dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in
            voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
            officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <a href="#!" id="check-availability-button" class="btn btn-success">Check Availability</a>
        </div>
      </div>
    </div>
{{end}}
{{define "js"}}
    <script>
        document.getElementById("check-availability-button").addEventListener("click", function () {
            // notify("this is message", "success");
            // notifyModal("title", "<em>hello, world</em>", "success", "my text")
            let html = `<form
                action="reservation.html"
                id="check-availability-form"
                method="GET"
                novalidate
                autocomplete="off"
                class="needs-validation"
            >
                <div class="row">
                    <div class="col">
                        <div class="row" id="reservation-date-modal">
                            <div class="col">
                                <input
                                    type="text"
                                    class="form-control"
                                    name="start_date"
                                    id="start_date"
                                    required
                                    disabled
                                    placeholder="Arrival"
                                />
                            </div>

                            <div class="col">
                                <input
                                    type="text"
                                    class="form-control"
                                    name="end_date"
                                    id="end_date"
                                    required
                                    disabled
                                    placeholder="Departure"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </form>`;
            myFunc.custom({ 
                title: "Choose yours dates", 
                html: html, 
                willOpen: () => {
                    const elem = document.getElementById("reservation-date-modal");
                    const rangepicker = new DateRangePicker(elem, {
                        format: "yyyy-mm-dd",
                        minDate: new Date(),
                    });
                },
                didOpen: () => {
                    document.getElementById("start_date").removeAttribute("disabled");
                    document.getElementById("end_date").removeAttribute("disabled");
                },
                callback: function(){
                    console.log("called");
                    let form = document.getElementById("check-availability-form")
                    let formData = new FormData(form)
                    formData.append("csrf_token","{{.CSRFToken}}")
                    formData.append("room_id","2")
                    fetch("/search-availability-json", {
                        method: "post",
                        body: formData,
                        
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.ok) {
                            console.log(data)
                            myFunc.custom({
                                icon:"success",
                                showConfirmButton:false,
                                html:`<p>Room is available !</p>`+
                                `<p><a href=`+`/book-room?id=${data.room_id}&s=${data.start_date}&e=${data.end_date}`+` class="btn btn-primary">Book now!</a></p>`
                            })
                        } else {
                            myFunc.error({
                                msg:"no rooms are available"
                            })
                        }
                    })
                } 
            });
        });
    </script>
{{end}}